@keyframes increaseWidthLr {
  0% {width: 10%;}
  100% {width: 112%;}
}

@keyframes fadeIn {
  0% {opacity: 0; }
  100% {opacity: 1;}
}

$transitionTime: 0.5s;

.currentPillAnimation::after {
  content: '';
  width: 10%;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-name: increaseWidthLr;
}

.currentElAnimation {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: $transitionTime;
  animation-timing-function: ease;
}

/* Fade-In Effect */
.visibleEl {
  visibility: visible;
  opacity: 1;
  transition: opacity #{$transitionTime} ease;
}
/* Fade-Out Effect */
.hiddenEl {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s #{$transitionTime}, opacity #{$transitionTime} ease;
}